@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
a, a:hover {
    text-decoration: none !important;
    color: inherit;
    color: #111;
}
ul {
    list-style: none;
}

/* begin Navigation & dropdown menu */
.main-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(253, 253, 201);
    padding: 0 50px;
    transition: all 0.3s;
}
.item-menu{
    position: relative;
    padding: 20px 25px;
    cursor: pointer;
    transition: 0.3s;
    width: 145px;
    text-align:center;
}
.item-menu:hover{
    background-color:rgb(0, 0, 0);
    color: #FFF;
}
.item-menu:hover>a{
    color: #FFF;
}
.second-menu{
    display: none;
    top: 64px;
    transform: translateX(50%);
    right:50%;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 0px 0px 5px 5px;
    transition: 0.3s;
    overflow: hidden;
}
.item-menu:hover .second-menu{
    display: block;
    transition: 0.3s;
}
.second-menu li{
    width: max-content;
    min-width: 200px;
    color: #000 !important;
    transition: 0.3s;
}
.second-menu li a{
    width: 100%;
    padding: 10px 25px;
    display: block;
    color: #000;
}
.second-menu li:hover a{
    color: #fff !important;
    background-color: #000;
}

/* end Navigation & dropdown menu */

/* Content Box */


/* Slider show */
.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 80px;
}
.my-container {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.slides {
    width: 100%;
    display: flex;
    width: 8000px;
    flex-wrap: nowrap;
    height: 600px;
    transition: .8s ease-in-out;
}
.slides-box {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    border-radius: 36px;
}
.slide {
    width: 1300px;
    height: auto;
}
.slides .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.control {
    text-align: center;
    margin: 20px 0px 0;
}
.control button {
    margin: 0 15px;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    width: 45px;
    height: 45px;
    border-radius: 10px;
    color: #FFF;
    transition: .3s;
}
.control button:hover {
    background-color: #FFF;
    color: #000;
    border-color: #000;
}
/* Form */
.Contact-form input, .Contact-form textarea {
    border: none; outline: none;
    font-size: 17px;
    padding: 15px 20px;
    color: #000000;
    background-color: transparent;
    border: 2px solid rgba(127, 127, 127, 0.25);
    border-radius: 5px;
    transition: .2s ease;
}
.Contact-form > div {
    margin-bottom: 30px;
}
.Contact-input-control, .Contact-textarea-control {
    position: relative;
    padding: 0px 15px;
    margin-bottom: 35px;
}
.Contact-textarea-control {
    margin-bottom: 0px;
}
.Contact-input-control label {
    position: absolute;
    top: 17px; left: 35px;
    pointer-events: none;
    transition: .2s ease;
    background-color: #FFF;
    padding: 0 8px;
}
.Contact-input-control input:not(:placeholder-shown) + label, 
.Contact-input-control input:focus + label {
    top: -14px;
    left: 25px;
    color: #5a49f8;
}
.Contact-input-control input:focus, 
.Contact-input-control input:not(:placeholder-shown) {
    border-color: #5a49f8;
}
.Contact-textarea-control textarea {
    height: 180px; 
    max-height: 180px;
    resize: none;
}
.Contact-form button {
    margin: 0 15px;
    font-weight: 500;
    font-size: 16px;
    z-index: 2;
    border: 0;
    padding: 10px 27px;
    border-radius: 4px;
    border: 2px solid;
    border-color: #5a49f8;
    background-color: #5a49f8;
    color: #ffffff;
    transition: all 0.3s ease;
}
.Contact-form button:hover {
    color: #5a49f8;
    background-color: #FFF;
}
